.base{
    background-color: white; 
}

.logo{
    float: left;
    margin: 0px 10px 10px 0px ;
}

.todolist{
    font-size: 35px;
}

#rettangolo{
    
    height: 600px;
    background-color: whitesmoke;
    padding-top: 5px;
}

.quadrato{
    width: 500px;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    
}

#bottone1{
    color: white;
    background-color: lightskyblue;
    border-radius: 5px;
    border-color: lightskyblue;
    padding: 3px;
    margin-left: 50px;
    margin-top: 15px;
}

#bottone2{
    color: grey;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    padding: 3px;
    opacity: 50%;
}

.linea{
    opacity: 10%;
    color: whitesmoke;
}

.lista1{
    list-style: none;
    padding: 8px;
    line-height: 20px;
    margin-left: 40px;
    opacity: 90%;
}

.lista2{
    list-style: none;
    padding: 8px;
    line-height: 20px;
    margin-left: 40px;
    opacity: 90%;
}

.lista3{
    list-style: none;
    padding: 8px;
    line-height: 20px;
    margin-left: 40px;
    opacity: 90%;
}

.bottone3{
    color: white;
    background-color: rgb(51, 133, 255);
    border-color:rgb(51, 133, 255) ;
    border-radius: 30px;
    font-size: 12px;
}

.bottone4{
    color: white;
    background-color: rgb(51, 133, 255);
    border-color:rgb(51, 133, 255) ;
    border-radius: 30px;
    font-size: 12px;
}

.bottone5{
    color: white;
    background-color:rgb(172, 0, 230) ;
    border-color:rgb(172, 0, 230) ;
    border-radius: 30px;
    font-size: 12px;
}

.bottone6{
    color: white;
    background-color:rgb(0, 179, 179) ;
    border-color: rgb(0, 179, 179) ;
    border-radius: 30px;
    font-size: 12px;
}

.bottone7{
    color: white;
    background-color:orange;
    border-color:  orange;
    border-radius: 30px;
    font-size: 12px;
}

.bottone8{
    color: white;
    background-color:rgb(255, 77, 210);
    border-color: rgb(255, 77, 210) ;
    border-radius: 30px;
    font-size: 12px;
}

.bottone9{
    color: white;
    background-color:green;
    border-color:green ;
    border-radius: 30px;
    font-size: 12px;
}

span{
    border: 1px solid green;
    color: green;
    height: 18px;
    width: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
}

.x1{
    color: red;
}