.base{
    background-color: white; 
}

.logo{
    float: left;
    margin: 0px 10px 10px 0px ;
}

.todolist{
    font-size: 35px;
}

#rettangolo{
    width: 800px;
    height: 600px;
    background-color: whitesmoke;
    
}

.quadrato{
    width: 400px;
    height: 400px;
    background-color: white;
    padding-left: 50px;
    margin-left: 20%;
}

.button{
    
}

